/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  padding-bottom: 60.5px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  align-self: stretch;
}

/************ Texte & titres ****************/

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

p.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

p.big-text {
  font-size: 18px;
}

/* Header */

header {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* Logo */
#logo {
  padding: 30px 50px;
  max-width: 100%;
  height: 19px;
}

/* Menu */

nav {
  display: flex;
}

ul {
  list-style: none;
}

.menu-ul {
  display: flex;
  gap: 68px;
}

.menu {
  display: flex;
  gap: 68px;
}

/* menu avec survol */

/* CORRIGER LA BORDURE */
.menu:hover::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: var(--main-color);
}

.menu:hover {
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/************ Info Group ****************/

.recherche-filtre {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0px 35px;
  max-width: 1340px;
}

.search-bar,
.search-bar button:first-child,
.search-bar input,
.search-bar button:last-child {
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  width: 377px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid var(--main-bg-color);
  align-items: center;
  gap: 24px;
}

.search-bar button:first-child {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  border: none;
  flex-grow: 1;
  min-width: 50px;
  height: 49px;
}

.search-bar input {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  flex-grow: 1;
  border-radius: 0;
  min-width: 151px;
}

input::placeholder {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.search-bar button:last-child {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding: 15px 16px;
  border: none;
  border-radius: 0 15px 15px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
}

.conteneur-filtres {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
}

.boutons-filtre {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*********** Régler problème taille icon *****************/

.boutons-filtre button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  padding: 4px 19px;
  border-radius: 25px;
  border: 2px solid var(--filter-bg-color);
  background-color: #ffff;
  color: black;
  cursor: pointer;
}

/*********** *****************/

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements & Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

a.cards-prop {
  display: flex;
}

.hebergements-cards .card {
  display: flex;
  padding-bottom: 15px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  min-width: 250px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  width: 100%;
  padding: 0px 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-content .card-txt {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.card-content .card-title {
  margin: 0;
}

.card-content .card-subtitle {
  margin: 0;
}

.afficher-plus {
  display: inline-block;
  margin: 0;
}

.afficher-plus:hover {
  text-decoration: none;
}

/****** Fin Hebergements ***********/

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********************* Activités *********************/

#section-activites {
  width: 1280px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section-activites h2 {
  align-self: flex-start;
}

#cards-activites {
  display: flex;
  gap: 30px;
}

.card-activites {
  width: 299px;
  height: 439px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-activites img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.card-text {
  padding: 20px 19px;
}

/********************* Footer *********************/

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-bg-color);
}

.footer-content {
  display: flex;
}

.footer-menu {
  flex: 1;
  padding: 20px;
}

.footer-menu:last-child {
  margin-right: 0;
}

.footer-col {
  padding: 0;
}

.link-footer {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
