/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .conteneur-filtres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
    background-color: var(--main-bg-color);
  }

  .populaires {
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .card-activites {
    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .card-activites img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
